<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Tailwind</title>
    <meta name="author" content="name" />
    <meta name="description" content="description here" />
    <meta name="keywords" content="keywords,here" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Raleway&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="~/css/output.css" />
    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three/examples/js/controls/TrackballControls.js"></script>
    <script src="//unpkg.com/three-globe"></script>

</head>

<body class="font-sans leading-normal tracking-normal">
    @RenderBody()
    <script type="text/javascript" src="js/gulpie.js"></script>
</body>

</html>