<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="dark">

<head>
    {% include head.html %}
</head>

<body class="antialiased text-gray-900 bg-gray-100 dark:text-gray-100 dark:bg-gray-900 min-h-screen">
    {{ content }}   

    <footer class="border-t">
        <div class="container flex items-center justify-between px-6 py-8 mx-auto">
            <p class="text-gray-500">© 2017-2021 Xpirit & Solidify</p>
            <p>This site is open source. {% raw %}{% github_edit_link "Improve this page" %}{% endraw %}</p>
        </div>
    </footer>

   {% include scripts.html %}

</body>

</html>