on:
   push:
   pull_request:
  
jobs:
   build:

     runs-on: ubuntu-latest

     steps:
     - uses: actions/checkout@v2
     - name: Install Dependencies
       run: npm install
     - name: Build the site in the jekyll/builder container
       run: |
         docker run \
         -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
         jekyll/builder:4 /bin/bash -c "chmod -R 777 /srv/jekyll && npm run build --future"
         
     - name: GitHub Pages
       if: github.ref == 'refs/heads/main'
       uses: crazy-max/ghaction-github-pages@v2.5.0
       with:
        build_dir: _site/
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
